@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

/* google font  */
body {
  font-family: "Merriweather", serif;
}

/* common styles */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* common styles end  */

/* banner styles start from here */
.banner-container {
  max-width: 1320px;
  margin: 0 auto;

  min-height: 600px;
  margin-top: 20px;
  background-image: url("/images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(0, 0, 0, 0.4);
  background-blend-mode: overlay;
}
.banner-content p,
h1 {
  color: white;
}
.banner-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 600px;
  justify-content: center;
}
.banner-content p {
  font-size: 32px;
  font-weight: 400;
}
.banner-content h1 {
  font-size: 72px;
  font-weight: 900;
}
/* Banner Section styles ends here */
/* 65% offer section start here */
.second-section-container {
  width: 802.9px;
  height: 806px;

  margin: 0 auto;
  margin-top: 90px;
}
.second-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-section-content h2 {
  font-size: 88px;
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-weight: 700;
}
.second-section-content p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.second-section-content h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.img-container {
  width: 802px;
  height: 500px;
}
.img-container img {
  width: 100%;
  height: 100%;
}
/* 65% offer section end here */
/* midnight party section styles start here */
.midnight-party-section {
  width: 1320px;
  height: 600px;

  margin: 0 auto;
  display: flex;
  background-image: url("images/Vectorrr.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  margin-top: 80px;
}
.left-side-content {
  width: 50%;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.left-side-content h2 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
}
.left-side-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.left-side-content span {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-right: 450px;
  margin-top: 30px;
}
.right-side-content {
  width: 50%;
  height: 600px;

  justify-content: center;
  align-items: center;
  display: flex;
}
.right-side-content img {
  width: 319.83px;
  height: 464.66px;
}
/* midnight party section styles end here */
/* holiday style start here */
.holiday-section-container {
  width: 1320px;
  height: 986.07px;

  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}
.holiday-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1068px;
  height: 260px;
  margin: 0 auto;
}
.holiday-text-container h5 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday-text-container h2 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.holiday-text-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
.solid-color {
  width: 1320px;
  height: 229px;
  background-color: red;
  position: absolute;
  top: 77%;
}
.giftbox {
  width: 674.82px;
  height: 577.96px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* portfolio section styles */
.portfolio-container {
  width: 1320px;
  height: 1163px;
 
  margin: 0 auto;
  margin-top: 120px;
}
.portfolio-text-content {
  display: flex;
  flex-direction: column;
}
.portfolio-text-content h6 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.portfolio-text-content h4 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.portfolio-text-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.item {
  width: 424px;
  height: 450px;
}
.item img {
  width: 100%;
  height: 100%;
}
.portfolio-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
